section {
    width: 100%;
    height: 100vh;
}
h2 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
}
/* main */
#main {
    width: 100%;
    height: 100vh;
    
    .main-bg {
        width: 100%;
        height: 100%;

        img {
            @include img();
        }
    }
}

/* introduce */
.introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;

    &-text {
        text-align: center;

        h2 {
            margin: 0 0 2rem 0;
        }
        p {
            font-size: 3rem;
            text-transform: uppercase;

            em {
                color: $color-primary;
            }
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 5rem 0;
        width: 100%;

        li {
            overflow: hidden;
            cursor: pointer;
            border-radius: 2rem;

            img {
                @include img();
                border-radius: 2rem;
                transition: transform .2s ease-in;
            }

            &:hover img {
                transform: scale(1.05);
            }
        }
    }
}

/* advertise */
.advertise {
    position: relative;
    padding: 0 3rem;
    margin: 0 0 15rem 0;
    box-sizing: border-box;

    &-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        height: 100%;

        img {
            @include img();
            transition: transform .2s ease-in;
        }
    }
    &-left {
        position: sticky;
        left: 0;
        top: 0;
        overflow: hidden;
        border-radius: 2rem;

        
        &:hover img {
            transform: scale(1.05);
        }
        h2 {
            position: absolute;
            right: 2rem;
            bottom: 1rem;
        }
    }

    &-right {
        padding: 8rem;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        ul {
            width: 100%;
            height: 100%;

            li {
                width: 100%;
                height: 100%;
                margin: 0 0 8rem 0;
                border-radius: 2rem;
                cursor: pointer;
                overflow: hidden;

                img {
                    border-radius: 2rem;
                }
                &:hover img {
                    transform: scale(1.05);
                }
            }
        }
    }
}

/* recommend */
.recommend,
.event {
    position: relative;
    padding: 0 3rem;
    margin: 0 0 15rem 0;

    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        text-align: center;

      h2 {
        height: 20%;
        
        em {
            color: $color-primary;
        }

        p {
            margin: 2rem 0 0 0;
            font-size: 1.6rem;
            color: #555555;
          }
      }
    }

    &-slide {
        height: 80%;
        
        .swiper1, 
        .swiper2 {
            height: 100%;

            .swiper-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .swiper-slide {
                position: relative;
                height: 100%;
                overflow: hidden;

                span {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.7);
                    border-radius: 2rem;
                    opacity: 0;
                    transition: opacity .2s ease-in;
                    white-space: nowrap;
    
                    dl {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        color: $color-white;
                        font-size : 1.9rem;
    
                        dt {
                            margin: 0 0 1rem 0;
                        }
                        dd {
                            margin: 0 0 1rem 0;
    
                            &:nth-of-type(1) {
                               font-style: italic;
                               color: #cacaca;
                            }
    
                            b {
                                margin: 0 1rem 0 0;
                                color: $color-primary;
                            }
                            em {
                                margin: 0 1rem 0 0;
                                text-decoration: line-through;
                                color: #cacaca;
                            }
                        }
                    }
                    ul {
                        position: absolute;
                        right: 3rem;
                        bottom: 3rem;
                        transform: translateX(100%);
                        transition: all .2s ease-in;
                        opacity: 0;

                        li {
                            margin: 1rem 0 0 0;

                            button {
                                width: 5rem;
                                height: 5rem;
                                cursor: pointer;
                                border-radius: 50%;
                                transition: all .2s ease-in;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                }

                                &:hover {
                                    background-color: $color-primary;
                                }
                            }
                        }
                    }
                }
    
                img {
                    border-radius: 2rem;
                    @include img();
                }
    
                &:hover span {
                    opacity: 1;
                }
                &:hover ul {
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
    }
}


.Campaign {
    height: auto;
    padding: 0 3rem;
    margin: 0 0 15rem 0;
    box-sizing: border-box;

    &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;

        h2 {
            height: 10%;
            margin: 0 0 5rem 0;
            
            em {
                color: $color-primary;
            }

            p {
                margin: 2rem 0 0 0;
                font-size: 1.6rem;
                color: #555555;
            }
        }
    }

    &-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        height: 30rem;

        figure {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            overflow: hidden;

            img {
                @include img();
                border-radius: 2rem;
                transition: .3s ease-in;
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0%);
                    transform: scale(1.05);
                }
            }

            figcaption {
                display: none;
            }

            div {
                position: absolute;
                left: 3rem;
                bottom: 3rem;
                padding: 1rem;
                box-sizing: border-box;
                color: $color-white;
                background-color: rgba(0,0,0,0.1);
                border-radius: 2rem;
                white-space: nowrap;

                h3 {
                    font-size: 1.8rem;
                }
                p {
                    margin: 1rem 0 0 0;
                    text-transform: uppercase;
                    font-size: 1.5rem;
                }
            }
        }
    }
}
/* custom */
.custom {
    height: auto;
    padding: 0 3rem;
    margin: 0 0 10rem 0;
    box-sizing: border-box;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        li {
            width: 100%;
            height: 100%;
            padding: 2rem;
            box-sizing: border-box;
            border-radius: 2rem;
            box-shadow: 0 0 .8rem 0 rgb(218, 218, 218);
            transition: transform .2s ease-in;
            white-space: nowrap;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 4rem;
                    height: 4rem;
                    margin: 0 0 1rem 0;
                    object-fit: cover;
                }

                div {
                    text-align: center;
                    font-size: 1.5rem;

                    h3 {
                        margin: 0 0 1rem 0;
                    }
                    p {
                    }
                }
            }

            &:hover {
                transform: translateY(-10%);
            }
        }
    }
}