section {
    width: 100%;
    height: 100vh;
    padding: 0 3rem;
    box-sizing: border-box;
    opacity: 0;

    @include mq('1200'){
        padding: 0 2rem;
    }
}

p,button {
    font-size: 1.6rem;

    @include mq('1200'){
        font-size: 1.5rem;
    }
    @include mq('980'){
        font-size: 1.4rem;
    }
    @include mq('600'){
        font-size: 1.3rem;
    }
    @include mq('320'){
        font-size: 1rem;
    }
}
/* main */
#main {
    width: 100%;
    height: 100vh;
    
    .main-bg {
        width: 100%;
        height: 100%;

        img {
            @include img();

            &:nth-of-type(1){

                @include mq('600'){
                    display: none;
                }
            }

            &:nth-of-type(2){
                display: none;

                @include mq('600'){
                    display: block;
                }
            }
        }
    }
}

/* introduce */
.introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;

    @include mq('1200'){
        height: auto;
        padding: 10rem 2rem;
    }

    &-text {
        height: 20%;

        h2 {
            margin: 0 0 2rem 0;
        }
        p {
            text-transform: uppercase;

            em {
                color: $color-primary;
            }
        }
    }

    &-main {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 1rem;
        margin: 0 0 3rem 0;

        @include mq('1200'){
            grid-template-columns: repeat(2, 1fr);
            gap: 2rem;
            margin: 3rem 0 0 0;
        }
        @include mq('767'){
            grid-template-columns: repeat(1, 1fr);
        }
        dl {
            padding: 4rem;
            box-sizing: border-box;
            background-color: #f5f6ee;
            border-radius: 2rem;

            @include mq('1200'){
                padding: 2rem;
            }

            &:hover img {
                transform: scale(1.1);
            }

            dt {
                img {
                    width: 7rem;
                    height: 7rem;
                    object-fit: cover;
                    transition: transform .2s ease-in;
                    -webkit-transition: transform .2s ease-in;
                    -moz-transition: transform .2s ease-in;
                    -o-transition: transform .2s ease-in;
                }
            }

            dd {
                &:nth-of-type(2) {
                    margin: 2rem 0 0 0;

                    @include mq('767'){
                        margin: 1rem 0 0 0;
                    }
                }
            }
        }
    }

    &-subheading {
        margin: 2rem 0 0 0;

        font : {
            size: 2rem;
            weight: 600;
        }

        @include mq('980'){
            font-size: 1.8rem;
        }
        @include mq('600'){
            font-size: 1.7rem;
        }
        @include mq('320'){
            font-size: 1.6rem;
        }
    }
}

/* advertise */
.advertise {
    height: auto;
    opacity: inherit;

    &-inner {
        padding: 3rem;
        box-sizing: border-box;
        margin: 0 auto;

        @include mq('1200'){
            padding: 0rem;
        }
    }
    
    &-list {

        @include mq('767'){
        }

        li {
            display: flex;
            align-items: center;
            margin: 0 0 10rem 0;
            opacity: 0;
            transition: opacity .2s ease;

            @include mq('767'){
                flex-direction: column-reverse;
                margin: 0 0 5rem 0;
            }

            &:hover img {
                transform: scale(1.01);
            }

            a {
                width: 50%;
                padding: 3rem;
                box-sizing: border-box;
                border-radius: 2rem;
                overflow: hidden;
                
                @include mq('980'){
                    padding: 0rem;
                }
                @include mq('767'){
                    width: 100%;
                    padding: 5rem;
                }
                @include mq('600'){
                    width: 100%;
                    padding: 3rem;
                }
                @include mq('320'){
                    padding: 2rem;
                }

                img {
                    @include img();
                    border-radius: 2rem;
                    transition: transform .2s ease-in;
                }
            }

            &:nth-of-type(2),
            &:nth-of-type(4) {
                flex-direction: row-reverse;

                @include mq('767'){
                    flex-direction: column-reverse;
                }
            }
          

            div {
                width: 50%;
                padding: 3rem;
                box-sizing: border-box;
                text-align: center;

                @include mq('980'){
                    padding: 2rem;
                }
                @include mq('767'){
                    width: 100%;
                    padding: 0rem;
                    margin: 0 0 3rem 0;
                }

                h2 {
                    em {
                        color: $color-primary;
                    }
                }
                p {
                    margin: 3rem 0 0 0;
                    color: #555555;

                    @include mq('767'){
                        margin: 2rem 0 0 0;
                    }
                }
                button {
                    padding: 1rem 1.2rem;
                    margin: 5rem 0 0 0;
                    box-sizing: border-box;
                    border-radius: 2rem;
                    background-color: #d9d9d9;
                    color: #fff;
                    font-weight: 600;
                    transition: background-color .2s ease-in;

                    &:hover {
                        background-color: $color-primary;
                    }

                    @include mq('767'){
                        margin: 2rem 0 0 0;
                    }
                    @include mq('600'){
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

/* recommend */
.recommend,
.event {
    position: relative;
    margin: 0 0 15rem 0;
    overflow: hidden;

    @include mq('767'){
        height: auto;
        margin: 0 0 10rem 0;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        text-align: center;

      h2 {
        height: 20%;

        @include mq('767'){
            height: auto;
            margin: 0 0 5rem 0;
        }

        em {
            color: $color-primary;
        }

        span {
            display: block;
            margin: 2rem 0 0 0;
            font-size: 1.6rem;

            @include mq('1200'){
                font-size: 1.5rem;
            }
            @include mq('980'){
                font-size: 1.4rem;
            }
            @include mq('600'){
                font-size: 1.3rem;
            }
            @include mq('320'){
                font-size: 1rem;
            }
            color: #555555;
        }
      }
    }

    &-slide {
        height: 80%;
        overflow: hidden;
        
        .swiper1, 
        .swiper2 {
            height: 100%;

            .swiper-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .swiper-slide {
                position: relative;
                height: 100%;
                overflow: hidden;

                > div {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    background: rgba(0,0,0,0.7);
                    border-radius: 2rem;
                    opacity: 0;
                    transition: opacity .2s ease-in;
                    -webkit-transition: opacity .2s ease-in;
                    -moz-transition: opacity .2s ease-in;
                    -o-transition: opacity .2s ease-in;
                    white-space: nowrap;
                    cursor: none;
    
                    dl {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        width: 100%;
                        color: $color-white;
                        font-size : 1.6rem;
    
                        dt {
                            margin: 0 0 1rem 0;
                        }
                        dd {
                            margin: 0 0 1rem 0;
    
                            &:nth-of-type(1) {
                               font-style: italic;
                               color: #cacaca;
                            }
    
                            b {
                                margin: 0 1rem 0 0;
                                color: $color-primary;
                            }
                            em {
                                margin: 0 1rem 0 0;
                                text-decoration: line-through;
                                color: #cacaca;
                            }
                        }
                    }

                    ul {
                        position: absolute;
                        right: 3rem;
                        bottom: 3rem;
                        transform: translateX(100%);
                        transition: .2s ease-in;
                        -webkit-transition: .2s ease-in;
                        -moz-transition: .2s ease-in;
                        -o-transition: .2s ease-in;
                        opacity: 0;

                        li {
                            margin: 1rem 0 0 0;

                            button {
                                width: 5rem;
                                height: 5rem;
                                border-radius: 50%;
                                transition: background-color .2s ease-in;
                                -webkit-transition: background-color .2s ease-in;
                                -moz-transition: background-color .2s ease-in;
                                -o-transition: background-color .2s ease-in;

                                @include mq('767'){
                                    width: 3.5rem;
                                    height: 3.5rem;
                                }

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;

                                    @include mq('767'){
                                        object-fit: contain;
                                    }
                                }

                                &:hover {
                                    background-color: $color-primary;
                                }
                            }
                        }
                    }
                }
    
                img {
                    border-radius: 2rem;
                    @include img();
                }
    
                &:hover > div {
                    opacity: 1;
                }
                &:hover ul {
                    opacity: 1;
                    transform: translateX(0%);
                }
            }
        }
    }
}


.Campaign {
    height: auto;
    margin: 0 0 15rem 0;
    box-sizing: border-box;

    @include mq('767'){
        margin: 0 0 10rem 0;
    }

    &-inner {
        display: flex;
        flex-direction: column;
        height: 100%;

        h2 {
            height: 10%;
            margin: 0 0 5rem 0;
            
            em {
                color: $color-primary;
            }

            span{
                display: block;
                margin: 2rem 0 0 0;
                font-size: 1.6rem;
    
                @include mq('1200'){
                    font-size: 1.5rem;
                }
                @include mq('980'){
                    font-size: 1.4rem;
                }
                @include mq('600'){
                    font-size: 1.3rem;
                }
                @include mq('320'){
                    font-size: 1rem;
                }
                color: #555555;
            }
        }
    }

    &-img {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        height: 30rem;

        @include mq('767'){
            grid-template-columns: repeat(1, 1fr);
            height: auto;
        }

        figure {
            position: relative;
            width: 100%;
            height: 100%;
            border-radius: 2rem;
            overflow: hidden;

            img {
                @include img();
                border-radius: 2rem;
                transition: .3s ease-in;
                -webkit-transition: .3s ease-in;
                -moz-transition: .3s ease-in;
                -o-transition: .3s ease-in;
                filter: grayscale(100%);

                &:hover {
                    filter: grayscale(0%);
                    transform: scale(1.05);
                }
            }

            figcaption {
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 2rem;
                box-sizing: border-box;

                @include mq('767'){
                    padding: 1rem;
                } 
            
                dl {
                    display: inline-block;
                    padding: 1rem 2rem;
                    box-sizing: border-box;
                    color: $color-white;
                    border-radius: 2rem;
                    background-color: rgba(0, 0, 0, 0.222);

                    dt {
                        font-size: 1.8rem;
    
                        @include mq('600'){
                            font-size: 1.7rem;
                        }
                        @include mq('320'){
                            font-size: 1.6rem;
                        }
                        
                    }
                    dd {
                        margin: 1rem 0 0 0;
                        text-transform: uppercase;
    
                        @include mq('1200'){
                            font-size: 1.5rem;
                        }
                        @include mq('980'){
                            font-size: 1.4rem;
                        }
                        @include mq('600'){
                            font-size: 1.3rem;
                        }
                        @include mq('320'){
                            font-size: 1rem;
                        }
    
                        br {
                            @include mq('767'){
                                display: none;
                            } 
                        }
                    }
                }
            }
        }
    }
}
/* custom */
.custom {
    height: auto;
   
    margin: 0 0 10rem 0;
    box-sizing: border-box;

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;

        @include mq('1200'){
            grid-template-columns: repeat(2, 1fr);
        }
        @include mq('767'){
            grid-template-columns: repeat(1, 1fr);
        }

        li {
            width: 100%;
            height: 100%;
            padding: 2rem;
            box-sizing: border-box;
            border-radius: 2rem;
            box-shadow: 0 0 .8rem 0 rgb(218, 218, 218);
            transition: transform .2s ease-in;
            -webkit-transition: transform .2s ease-in;
            -moz-transition: transform .2s ease-in;
            -o-transition: transform .2s ease-in;
            white-space: nowrap;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                img {
                    width: 4rem;
                    height: 4rem;
                    margin: 0 0 1rem 0;
                    object-fit: cover;
                }

                div {
                    text-align: center;
                    font-size: 1.5rem;

                    h3 {
                        margin: 0 0 1rem 0;
                    }
                }
            }

            &:hover {
                transform: translateY(-10%);

                @include mq('1200'){
                    transform: translateY(-3%);
                }
            }
        }
    }
}