section {
    width: 100%;
    height: 100vh;
}
#main {
    width: 100%;
    height: 100vh;
    
    .main-bg {
        width: 100%;
        height: 100%;

        img {
            @include img();
        }
    }
}

.introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 3rem;
    box-sizing: border-box;

    &-text {
        text-align: center;
        h2 {
            font-size: 4rem;
            margin: 0 0 3rem 0;
        }
        p {
            font-size: 3rem;
            text-transform: uppercase;

            em {
                color: $color-primary;
            }
        }
    }
    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1rem;
        margin: 5rem 0;
        width: 100%;

        li {
            overflow: hidden;
            cursor: pointer;
            border-radius: 2rem;

            img {
                @include img();
                border-radius: 2rem;
                transition: transform .2s ease-in;
            }

            &:hover img {
                transform: scale(1.05);
            }
        }
    }
}
.recommend {
    position: relative;
    padding: 0 3rem;
    box-sizing: border-box;
    margin: 0 0 15rem 0;

    &-inner {
        width: 100%;
        height: 100%;
        text-align: center;

      h2 {
        font-size: 4rem;
        em {
            text-transform: uppercase;
        }
      }
      p {
        font-size: 2rem;
        margin: 1rem 0 5rem 0;
      }
    }

    &-slide {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
        height: 55rem;

        .swiper {
            width: 80%;

           &-wrapper {
            display: flex;
           }

           &-slide {
            position: relative;
            border-radius: 2rem;

           span {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.7);
                border-radius: 2rem;
                opacity: 0;
                transition: opacity .2s ease-in;

                dl {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    color: #fff;
                    font-size : 1.9rem;

                    dt {
                        margin: 0 0 1rem 0;
                    }
                    dd {
                        margin: 0 0 1rem 0;

                        &:nth-of-type(1) {
                           font-style: italic;
                           color: #cacaca;
                        }

                        b {
                            margin: 0 1rem 0 0;
                            color: $color-primary;
                        }
                        em {
                            margin: 0 1rem 0 0;
                            text-decoration: line-through;
                            color: #cacaca;
                        }
                    }
                }
            }

            img {
                border-radius: 2rem;
                @include img();
            }

            &:hover span {
                opacity: 1;
            }
           }
        }

        &-right {
            position: relative;
            border-radius: 2rem;
            overflow: hidden;

            img {
                @include img();
                transition: transform .2s ease-in;  

                &:hover {
                    transform: scale(1.05);
                }
            }

            button {
                position: absolute;
                right: 3rem;
                bottom: 3rem;
                padding: 1rem 2rem;
                border-radius: 2rem;
                cursor: pointer;
                color: $color-primary;
                background-color: #fff;
                transition: all .3s ease-in;

                &:hover {
                    color: #fff;
                    background-color: $color-primary;
                }
            }
        }
    }
}

.advertise {
    position: relative;
    padding: 0 3rem;
    box-sizing: border-box;

    &-inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        height: 100%;

        img {
            @include img();
            transition: transform .2s ease-in;
        }
    }
    &-left {
        position: sticky;
        left: 0;
        top: 0;
        overflow: hidden;
        border-radius: 2rem;

        
        &:hover img {
            transform: scale(1.05);
        }
        h2 {
            position: absolute;
            right: 2rem;
            bottom: 1rem;
        }
    }

    &-right {
        padding: 8rem;
        box-sizing: border-box;
        overflow-x: hidden;
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        
        ul {
            width: 100%;
            height: 100%;

            li {
                width: 100%;
                height: 100%;
                margin: 0 0 8rem 0;
                border-radius: 2rem;
                overflow: hidden;

                img {
                    border-radius: 2rem;
                }
                &:hover img {
                    transform: scale(1.05);
                }
            }
        }
    }
}
