/* font */

/* reset */
html {
    font-size: 62.5%;
}
body {
    font-family: lato, sans-serif;
}
*{
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}
ul {
	list-style: none;
}
a{
    display: block;
    text-decoration: none;
	color: inherit;
}
button {
    border: none;
    outline: none;
    background-color: transparent;
}
span {
    display: inline-block;
}
/* 드래그 */
::selection {
    background-color: #92c501; 
    color: #fff; 
}
/* 스크롤바 */
::-webkit-scrollbar {
    width: 10px;
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background-color: #b3ca73;
    border-radius: 0.2rem;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #92c501;
}